block vars
	- var menu = menuConfig

menu.menu
	ul.menu__list
		each item in menu.children
			li.menu__list-element
				a.title__main(href="#" data-id=`${item.name}`) !{item.title}
				- if (item.children)
					ul.menu__list-sublist
						each itemFirstChilde in item.children
							- if (itemFirstChilde.children)
								li
									//- menu__item--with-btn
									a.subtitle.subtitle--with-content(href="#" data-id=`${itemFirstChilde.name}`) !{itemFirstChilde.title}
										button.menu__btn(type="submit")
											span.menu__btn-arrow
									ul.menu__list-sublist--dippest
										each itemSecondChild in itemFirstChilde.children
											li
												a.test(href="#" data-id=`${itemFirstChilde.name}`) !{itemSecondChild.title}
							- else
								li
									a.subtitle(href="#" data-id=`${itemFirstChilde.name}`) !{itemFirstChilde.title}
								