block vars
	- var menu = menuConfig

menu.menu
	ul
		each item in menu.children
			li
				a.title__main(href="#" data-id=`${item.name}`) #{item.title}
				- if (item.children)
					each itemFirstChilde in item.children
						li
							a.subtitle(href="#" data-id=`${itemFirstChilde.name}`) #{itemFirstChilde.title}
								- if (itemFirstChilde.children)
									each itemSecondChild in itemFirstChilde.children
										li
											a.test(href="#" data-id=`${itemSecondChild.name}`) #{itemSecondChild.title}